.cart-dropdown {
	position: absolute;
	width: 240px;
	max-height: 380px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	top: 70px;
	right: 0px;
	z-index: 5;

	.empty-message {
		font-size: 14px;
		margin: 10px 10px 20px 10px;
	}

	.cart-items {
		min-height: 50px;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	button {
		margin-top: auto;
	}
	.cart-total{
		padding: 5px;
		text-align: right;
	}
	.cart-total > span {
		font-size: 1.5em;;
	}
}
