@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  max-height: 100%;
}
div.capture{
  font-size: 11px;
  color: #a5a5a5;
  padding-top: 10px;
  text-align: center;
}
span.capture{
  font-size: 11px;
  color: #a5a5a5;
  text-align: left;
  display: block;
}
